body {
	background-color: white;
	color: #333333;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	padding: 0 1em 0 1em;
}

table#run-list {
	width: 800px;
	border-collapse: collapse;
	border: 0;
	margin: 1em auto 1em auto;
}

#run-list a {
	text-decoration: none;
}


#run-list thead  {
	background: #008e00 url("../media/bg.png");
}

#run-list th {
	border: 1px solid #060;
	border: 0;
	color: #eaeaea;
	padding: 10px;
}

#run-list .odd {
	background-color: #eaeaea;
}

#run-list .even {
	background-color: #d5d5d5;
}

#run-list tr {
	border: 1px solid #929292;
}

#run-list tr.details {
	border: 0;
}

#run-list tr.details td {
	margin: 0;
	padding: 0;
	border: 0;
}

#run-list tr.details td > div {
	background-color: #f7f7f7;
	margin: 0 10px 10px 10px;
	padding: 10px;
	border: 1px solid #d3d3d3;
	border-top-width: 0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow: auto;
}

#run-list td {
	padding: 5px;
	border: 1px solid #d5d5d5;
	border: 0;
	text-align: center;
}

tr.run td:first-child {
	font-weight: bold;
}

.details div {
	overflow: auto;
}

.filters {
	float: left;
	width: 485px;
	border: 0;
	margin: 0;
	padding: 0;
}

.filtercategory {
	
}

.filtercategory a {
	display: block;
	float: left;
	width: 25%;
	border-radius: 3px;
	text-align: center;
	margin: 0 5px 5px 0;
	padding: 5px;
	color: #011892;
	background-color: #c8c8dc;
	border: 1px solid #c8c8dc;
	text-transform: capitalize;
}

.categoryoptions {
	border: 0;
	margin: 0;
	padding: 0	;
}

.categoryoptions a {
	display: block;
	float: left;
	width: 75px;
	font-size: 9pt;
	border-radius: 2px;
	text-align: center;
	margin: 0 2px 2px 0;
	padding: 4px;
	color: #011892;
	background-color: #c8c8dc;
	border: 1px solid #c8c8dc;
	/* height: 80px; */
}

a.selected {
	color: #011892;
	background-color: #a9a9dc;
	border-color: blue;
}

.filtercategory a:hover, .categoryoptions a:hover {
	color: #c8c8dc;
	background-color: blue;
}


.filterimage-wrapper {
	float: left;
	margin: 0;
	padding: 0;
	border: 1px solid #eaeaea;
	background-color: gray;
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	overflow: auto;
}

.filterimage {
	margin: 0;
	padding: 0;
	border: 0;
}

.expander {
	text-align: center;
	font-size: 9pt;
	text-transform: uppercase;
}

.yes em, .pass em {
	display: block;
	width: 75px;
	text-transform: uppercase;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	color: #008e00;
	text-shadow: #008f51 0 0 2px;
	background-color: #72e300;
	box-shadow: inset 0 0 5px black;
	border-radius: 3px;
	border: 1px inset white;
	margin: 0 auto 0 auto;
	padding: 5px;
}

.no em, .fail em {
	display: block;
	width: 75px;
	text-transform: uppercase;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	color: #800b01;
	text-shadow: #ed2203 0 0 5px;
	background-color: #ed5038;
	box-shadow: inset 0 0 5px black;
	border-radius: 3px;
	margin: 0 auto 0 auto;
	padding: 5px;
}

